<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
  <h1 class="text-center font-bold text-[45px] mb-9">Logo</h1>
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      class="grid grid-cols-1 gap-4"
    >
      @for (field of fields; track field.name) {
        <div>
          <label
            [for]="field.name"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            {{ field.label }}
          </label>
          <input
            [type]="field.type"
            [id]="field.name"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
      }
    </form>
    <button
      routerLink="/client"
      type="submit"
      class="w-full mt-8 mb-5 bg-gray-800 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-150 ease-in-out"
    >
      Iniciar Sesión
    </button>
    <p class="text-gray-500">
      No tienes una cuenta?
      <a routerLink="/sign-up" class="font-medium text-blue-600 hover:underline"
        >Registrate</a
      >
    </p>
  </div>
</div>
